@media (prefers-color-scheme: light) {
  @import 'highlight.js/styles/github.css';
}

@media (prefers-color-scheme: dark) {
  @import 'highlight.js/styles/github-dark.css';
}

.html-style {
  h1 {
    @apply mt-10 mb-8 text-2xl font-bold;
  }

  h2 {
    @apply mt-8 mb-6 text-xl font-bold;
  }

  h3 {
    @apply mt-6 mb-4 text-lg font-bold;
  }

  p {
    @apply my-2 text-justify leading-7;
  }

  a {
    @apply text-blue-500 underline underline-offset-4 sm:hover:text-blue-600;
  }

  ul,
  ol {
    @apply my-6 ml-6;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply my-2 text-justify leading-7;

    &::marker {
      @apply text-gray-400;
    }
  }

  blockquote {
    @apply my-4 border-l-4 border-gray-200 bg-gray-50 px-4 py-1 dark:border-zinc-600 dark:bg-zinc-700;
  }

  code {
    @apply rounded-sm bg-gray-100 px-1 py-0.5 font-mono text-xs dark:bg-zinc-700;
  }

  pre {
    @apply my-4 overflow-x-auto rounded-md bg-gray-100 p-4 font-mono text-xs dark:bg-zinc-700;
  }

  pre code {
    @apply bg-transparent p-0 leading-6;
  }

  table {
    @apply my-4 w-full border-collapse;
  }

  tr {
    @apply border-gray-200 dark:border-zinc-600;
  }

  thead tr {
    @apply border-b-2;
  }

  tbody tr {
    @apply not-last:border-b;
  }

  th,
  td {
    @apply py-4 not-last:pr-4;
  }

  th {
    @apply text-left font-bold;
  }

  img,
  video {
    @apply mx-auto my-4 w-full rounded-md border border-gray-100 dark:border-zinc-700;
  }

  img {
    @apply cursor-zoom-in;
  }

  hr {
    @apply my-6 border-t border-gray-200 dark:border-zinc-600;
  }

  strong {
    @apply font-bold;
  }

  em {
    @apply italic;
  }
}
