@media (prefers-color-scheme: light) {
  @import 'highlight.js/styles/github.css';
}

@media (prefers-color-scheme: dark) {
  @import 'highlight.js/styles/github-dark.css';
}

.html-style {
  h1 {
    @apply mt-10 mb-8 text-2xl font-bold;
  }

  h2 {
    @apply mt-8 mb-6 text-xl font-bold;
  }

  h3 {
    @apply mt-6 mb-4 text-lg font-bold;
  }

  p {
    @apply my-2 text-justify leading-7;
  }

  a {
    @apply link-color space-x-1;
  }

  ul,
  ol {
    @apply my-6 ml-6;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply my-2 text-justify leading-7;

    &::marker {
      @apply text-zinc-400;
    }
  }

  blockquote {
    @apply my-4 rounded-md border-l-4 border-zinc-300 bg-zinc-100 px-4 py-1 dark:border-zinc-600 dark:bg-zinc-700;
  }

  code {
    @apply rounded-sm bg-zinc-100 px-2 py-1 font-mono text-xs dark:bg-zinc-700;
  }

  pre {
    @apply my-4;
  }

  pre code {
    @apply block overflow-x-auto rounded-md border border-zinc-200 bg-transparent! px-4 py-4 leading-6 dark:border-zinc-600 dark:bg-transparent!;
  }

  table {
    @apply my-4 w-full border-separate border-spacing-0;
  }

  th,
  td {
    @apply border-r border-b border-zinc-200 p-4 dark:border-zinc-600;
  }

  th {
    @apply text-left font-bold;
  }

  thead th {
    @apply border-t border-zinc-200 dark:border-zinc-600;
  }

  thead tr {
    @apply bg-zinc-50 dark:bg-zinc-700/50;
  }

  th:first-child,
  td:first-child {
    @apply border-l border-zinc-200 dark:border-zinc-600;
  }

  thead th:first-child {
    @apply rounded-tl-md;
  }

  thead th:last-child {
    @apply rounded-tr-md;
  }

  tbody tr:last-child td:first-child {
    @apply rounded-bl-md;
  }

  tbody tr:last-child td:last-child {
    @apply rounded-br-md;
  }

  img,
  video {
    @apply mx-auto my-4 w-full rounded-md border border-zinc-100 dark:border-zinc-600;
  }

  img {
    @apply cursor-zoom-in;
  }

  hr {
    @apply my-6 border-t border-zinc-200 dark:border-zinc-600;
  }

  strong {
    @apply font-bold;
  }

  em {
    @apply italic;
  }
}
