.html-style {
  h1 {
    @apply mt-10 mb-8 text-2xl font-bold;
  }

  h2 {
    @apply mt-8 mb-6 text-xl font-bold;
  }

  h3 {
    @apply mt-6 mb-4 text-lg font-bold;
  }

  p {
    @apply my-2 text-justify leading-7;
  }

  a {
    @apply text-blue-500 underline underline-offset-4 sm:hover:text-blue-600;
  }

  ul,
  ol {
    @apply my-6 ml-6;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply my-2 text-justify leading-7;

    &::marker {
      @apply text-gray-400;
    }
  }

  blockquote {
    @apply mt-4 border-l-4 border-gray-300 bg-gray-50 px-4 py-1;
  }

  code {
    @apply rounded bg-gray-100 px-1 py-0.5 font-mono text-xs;
  }

  pre {
    @apply my-4 overflow-x-auto rounded bg-gray-100 p-4 font-mono text-xs;
  }

  pre code {
    @apply bg-transparent p-0;
  }

  table {
    @apply my-4 w-full border-collapse;
  }

  th,
  td {
    @apply border-y border-gray-300 px-3 py-2;
  }

  th {
    @apply text-left font-bold;
  }

  img,
  video {
    @apply mx-auto my-4 w-full rounded-sm border border-gray-100;
  }

  hr {
    @apply my-6 border-t border-gray-300;
  }

  strong {
    @apply font-bold;
  }

  em {
    @apply italic;
  }
}
