@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('remixicon/fonts/remixicon.css');
@import 'tailwindcss';
@import './html.css';

body {
  font-family: 'Noto Sans', sans-serif;
  @apply text-sm text-zinc-600 dark:bg-zinc-800 dark:text-zinc-200;
}

button:not(:disabled),
[role='button']:not(:disabled) {
  cursor: pointer;
}

input,
textarea,
select,
[role='button'] {
  @apply block appearance-none bg-transparent outline-none;
}

input {
  &:-webkit-autofill,
  &:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;

    @media (prefers-color-scheme: dark) {
      -webkit-box-shadow: 0 0 0 30px rgb(39, 39, 42) inset;
      -webkit-text-fill-color: rgb(229, 231, 235);
    }
  }
}

@utility btn {
  @apply flex h-10 items-center justify-center rounded-md transition-all duration-300;
}

.btn-base {
  @apply btn w-10 bg-slate-100 hover:bg-slate-200/80 dark:bg-zinc-700 dark:hover:bg-zinc-600;
}

.btn-primary {
  @apply btn w-full bg-blue-500 text-white hover:bg-blue-500/90;
}

.input-base {
  @apply h-10 rounded-md border border-zinc-300 px-3 transition-all duration-300 focus:border-blue-500 dark:border-zinc-600;
}

@utility link-text {
  @apply bg-linear-to-r from-cyan-500 via-blue-500 via-50% to-zinc-600 to-50% bg-size-[200%_100%] bg-clip-text bg-position-[100%] font-bold text-transparent transition-[background-position] duration-300 hover:bg-position-[0_100%] dark:to-zinc-400;
}

@utility link-underline {
  @apply relative after:absolute after:-bottom-0.5 after:left-0 after:h-px after:w-full after:bg-linear-to-r after:from-cyan-500 after:to-blue-500 hover:after:h-0.5;
}

@utility link-color {
  @apply link-text link-underline;
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

/* Transition */
.move-up-enter-active,
.move-up-leave-active {
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.move-up-enter-from,
.move-up-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.3s;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}

.list-leave-active {
  position: absolute;
}
